// Color
$Color-Primary: #dd2242;
$Color-Secondary: #010a20;
$Color-White: #fff;
$Color-Black: #000;
$Color-Dark: #020c21;
$Color-Grey-6F: #6f7787;
$Color-Grey-93: #939393;
$Color-Grey-E0: #e0e0e0;
$Color-Grey-DC: #dce8f2;
$Color-Grey-85: #85a3b2;
$Color-Pink: #e93a7d;

// Font
$Font-Primary: "DM Sans", sans-serif;
$Font-Secondary: "Roboto", sans-serif;
